<h2 class="text-center">Register Form ( Material )</h2>

<div class="container">
  <form class="text-center">
    <mat-form-field appearance="fill" class="mat-input">
      <mat-label>First name</mat-label>
      <input matInput />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="mat-input">
      <mat-label>Email</mat-label>
      <input matInput type="email" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="mat-input">
      <mat-label>Mobile Number</mat-label>
      <input matInput type="number" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="mat-input">
      <mat-label>Password</mat-label>
      <input matInput type="password" />
    </mat-form-field>

    <div class="submit-btn">
      <button mat-raised-button color="primary">Submit</button>
    </div>
  </form>
</div>

<hr />
<h2 class="text-center">Register Form ( Bootstrap )</h2>

<div class="container form-group">
  <form>
    <div class="input-field">
      <label for="Name">Name</label>
      <div>
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="input-field">
      <label for="Name">Email Id</label>
      <div>
        <input type="email" class="form-control" />
      </div>
    </div>
    <div class="input-field">
      <label for="Name">Mobile Number</label>
      <div>
        <input type="number" class="form-control" />
      </div>
    </div>
    <div class="input-field">
      <label for="Name">Password</label>
      <div>
        <input type="password" class="form-control" />
      </div>
    </div>

    <div class="submit-btn">
      <button class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
